.DS_Store

venv
__pycache__

game/back/*
!game/back/EMPTY.md
game/front/*
!game/front/EMPTY.md
game/double_sided/*
!game/double_sided/EMPTY.md
game/output/*
!game/output/EMPTY.md
game/decklist/*
!game/decklist/EMPTY.md

data

images/*.xcf

hugo/public/
.vscode/launch.json